* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-color: rgb(141, 141, 248);
    color: white;
    padding: 5px;
    margin: 3px;
    border-radius: 4px; 
    text-align: center
}
#searchButton {
    border-radius: 4px;
    background-color: rgb(141, 141, 248);
    color: white;
    margin-top:10px;
    margin-bottom: 10px;
}

.randomCity {
    background-color: rgb(190, 181, 181);
    border-radius: 4px;
}

#dayTempDiv {
    background-color:  rgb(141, 141, 248);
    border: 1px solid black;
    height: 100%;
}

#dayCard {
     background-color:  rgb(65, 65, 172);
     border: 1px solid black;
     color: white;
}

#mainDiv {
    width: 100%;
    display: flex;
}

#leftAside {
    width: 30%;
    height: 100%;
}

#rightAside {
    width: 70%;
    
}
#downDiv {
    /* text-align: center; */
    /* height: 100%;
    width: 100%; */

}